In [1]:
import sklearn.preprocessing as preprocessing
import pandas as pd

In [2]:
df = pd.DataFrame({"col1": ["Sun", "Sun", "Moon", "Earth", "Moon", "Venus"]})
df

    col1
0    Sun
1    Sun
2   Moon
3  Earth
4   Moon
5  Venus

In [3]:
df["planet_count"] = df["col1"].map(df["col1"].value_counts().to_dict())
df

    col1  planet_count
0    Sun             2
1    Sun             2
2   Moon             2
3  Earth             1
4   Moon             2
5  Venus             1