In [1]:
import pandas as pd

## Extract month, week, and hour

In [2]:
df = pd.DataFrame({"col1": [1549720105, 1556744905, 1569763805, 1579780105]})
df["col1"] = pd.to_datetime(df['col1'], unit='s')
df

                 col1
0 2019-02-09 13:48:25
1 2019-05-01 21:08:25
2 2019-09-29 13:30:05
3 2020-01-23 11:48:25

In [3]:
df["month"] = df["col1"].dt.month
df["week"] = df["col1"].dt.isocalendar().week
df["hour"] = df["col1"].dt.hour
df

                 col1  month  week  hour
0 2019-02-09 13:48:25      2     6    13
1 2019-05-01 21:08:25      5    18    21
2 2019-09-29 13:30:05      9    39    13
3 2020-01-23 11:48:25      1     4    11

## Time interval

In [4]:
df = pd.DataFrame({
    "col1": [1529720105, 1536744905, 1529763805, 1519780105],
    "col2": [1549720105, 1556744905, 1569763805, 1579780105]
})
df

         col1        col2
0  1529720105  1549720105
1  1536744905  1556744905
2  1529763805  1569763805
3  1519780105  1579780105

In [5]:
df["col1"] = pd.to_datetime(df['col1'], unit='s')
df["col2"] = pd.to_datetime(df['col2'], unit='s')
df["interval"] = df["col2"] - df["col1"]
df["interval_days"] = df["interval"].dt.days
df

                 col1                col2          interval  interval_days
0 2018-06-23 02:15:05 2019-02-09 13:48:25 231 days 11:33:20            231
1 2018-09-12 09:35:05 2019-05-01 21:08:25 231 days 11:33:20            231
2 2018-06-23 14:23:25 2019-09-29 13:30:05 462 days 23:06:40            462
3 2018-02-28 01:08:25 2020-01-23 11:48:25 694 days 10:40:00            694