In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "fea1": ["a", "b", "a", "b", "a"],
    "fea2": ["red", "yellow", "white", "blue", "red"]
})
df

  fea1    fea2
0    a     red
1    b  yellow
2    a   white
3    b    blue
4    a     red

In [3]:
df["fea1_fea2"] = df["fea1"].astype('str') + "_" + df["fea2"].astype('str')
df

  fea1    fea2 fea1_fea2
0    a     red     a_red
1    b  yellow  b_yellow
2    a   white   a_white
3    b    blue    b_blue
4    a     red     a_red