In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "col1": ["Moon", "Sun", "Moon", "Sun", "Sun"],
    "Target": [1, 1, 0, 1, 0]
})
df["Target"] = df["Target"].astype("float64")
df

   col1  Target
0  Moon     1.0
1   Sun     1.0
2  Moon     0.0
3   Sun     1.0
4   Sun     0.0

In [3]:
d = df.groupby(["col1"])["Target"].mean().to_dict()
df["p1"] = df["col1"].map(d)
df["p0"] = 1 - df["p1"]
df["woe"] = np.log(df["p1"] / df["p0"])
df

   col1  Target        p1        p0       woe
0  Moon     1.0  0.500000  0.500000  0.000000
1   Sun     1.0  0.666667  0.333333  0.693147
2  Moon     0.0  0.500000  0.500000  0.000000
3   Sun     1.0  0.666667  0.333333  0.693147
4   Sun     0.0  0.666667  0.333333  0.693147